.card-image{
    width: 250px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

.card{
    
    width: 400px;
    height: 450px;
    border: none;
    border-radius: 10px;
    
}

.card:hover{
    box-shadow: 30px 30px 30px 30px lightgray;
    border: 1px solid lightgrey;
}
.GridD{
    background-color: green;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin: 10px;
}